body{
    font-family: 'Inconsolata', monospace;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar{
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    transition: all 0.3s ease;
    border-bottom:2px solid rgb(182,182,182, .5);
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-container{
    /* position: relative; */
    float: right;
}

#chat-btn{
    /* position:absolute; */
    /* right: 17em; */
    /* float: right; */
    width: 10em;
    height: 3em;
    background-color: #FFF;
    border: 2px solid rgba(0,0,0,.5);
    font-weight: bold;
    right:4em;
    cursor: pointer;
}

.menu-btn{
    display: none;
    color: #f9481d;
    cursor: pointer;
    font-size: 23px;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #000;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .logo a span{
    color: #eb7029;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.navbar .menu li a{
    color: #000;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-right: 6em;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    background-color: #b9b9b9;
}

.navbar .menu a i{
    color: #eb7029;
    font-weight: bold;
}

.left-section{
    display: flex;
    width: 50%;
}

.left-section .max-width{
    width: 50%;
    display: flex;
}

  .left-section .left-section-content .text-1{
    font-weight: 600;
    font-size: 3em;
    margin-top: 2.5em;
}
.left-section .left-section-content .text-2{
    font-size: 3em;
    font-weight: 600;
    margin-left: -3px;
}
.left-section .left-section-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.left-section .left-section-content .text-3 span{
    color: crimson;
    font-weight: 500;
}

#hire-me-btn{
    background-color: #f9481d;
    color: #FFF;
    text-decoration: none;
    height: 4em;
    width: 10em;
}

#download-cv-btn{
    color: #000000;
    background-color: #FFF;
    font-weight: bold;
    left: 6.2em;
    text-decoration: none;
}

#download-cv-btn > img{
    width: 1em;
    height: 1em;
}

.career-info{
    font-weight: bold;
    padding-left: 3em;
    padding-top: 1em;
    position: relative;
    left: 2.3em;
}

.contact-info{
   float: right;
   position: relative;
   top: -4.5em;
   right: -7.5em;
}

#contact-span{
    font-size: 1.4em;
    font-weight: bold;
}

.tech-stack-skills h2{
    text-align: center;
    color: #f9481d;
    font-size: 2em;
}
.tech-stack-skills span{
    text-align: center;
    color: #000;
    position: relative;
    top: -4em;
    left: 25em;
    font-weight: bold;
}

.fullstack-icon{
    width: 300px;
    height: 90px;
    background-color: rgb(90, 178, 27);
    border-radius: 100px;
    color: #FFF;
    font-size: 3em;
    text-align: center;
    padding-top: 0.5em;
    margin-right: 1.5em;
    position: absolute;
    top:3.6em;
    right: 7em;
}

.tech-stack-skills li{
    display: inline-block;
    font-size: 6em;
}

.tech-stack-skills i:hover{
    color: #eb7029;
}

.about-info{
    float: right;
    margin-left: 10em;
}

.right-section{
    float: right;
    width: 50%;
}

.right-section .max-width{
    width: 50%;
    display: flex;
}

.right-section .hero-content .right img{
    padding-top:5em;
    position: relative;
    height: 680px;
    width: 550px;
    object-fit:cover;
    float: right;
    top: -33.5em;
    /* right: -32em; */
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #FFF;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #eb7029;
}

footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer span a{
    color: #eb7029;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #f9481d;
    color: #fff;
    bottom: 10px;
    right: 30px;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    z-index: 9999;
    opacity: 0;
    /* pointer-events: none; */
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover{
    filter: brightness(90%);
}


@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
    .chat-container{
        float: none;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .chat-container{
        float: none;
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #FFF;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        text-align: center;
    }
    .max-width{
        max-width: 930px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .chat-container{
        float: none;
    }
}